In [1]:
import math

In [2]:
import math as mt
r = mt.pi + 8 ** 4
print(r)

4099.14159265359

In [11]:
import math as mt
r = 1342 - 1677 * (9/7) - 6
result = abs (r)
print(r)

-820.1428571428573

In [14]:
mt.factorial (9)

362880

In [15]:
mt.log(7, 10)

0.8450980400142567

In [18]:
r = mt.e ** 0.555457
mt.e ** 0.555457
print (r)

1.7427372337331462

In [36]:
y = mt.pi
print(y)

z = 41
print(z)

from math import modf

x = (2 + y) / (7 + 2*(z ** 2))
print(x)

3.141592653589793
41
0.001526148012344848

In [57]:
x = (2, - 6, 27, -8, - 9, - 21, 9, 5, 562, mt.pi)
print(x)

(2, -6, 27, -8, -9, -21, 9, 5, 562, 3.141592653589793)

In [58]:
y = (8, 9, 31, 18, - 5, - 18, 9, - 22, 0, 9)
print (y)

(8, 9, 31, 18, -5, -18, 9, -22, 0, 9)

In [71]:
import pandas as pd 
import numpy as np
import statistics as st 
st.mean(x)

56.41415926535898

In [69]:
st.median(x)

2.5707963267948966

In [61]:
st.variance(x)

31721.032883136468

In [62]:
st.stdev(x)

178.10399457377835

In [63]:
st.mean(y)

3.9

In [68]:
st.median(y)

8.5

In [65]:
st.variance(y)

252.54444444444445

In [70]:
st.stdev(y)

15.891647002260164

In [74]:
import matplotlib.pyplot as plt 
x_simple = np.array([2, - 6, 27, - 8, - 9, - 21, 9, 5, 562, mt.pi])
y_simple = np.array([8, 9, - 31, 18, - 5, - 18, 9, - 22, 0, 9])
my_rho = np.corrcoef(x_simple, y_simple)

print(my_rho)

[[1.         0.02692977]
 [0.02692977 1.        ]]

In [75]:
int_list = [2, - 6, 27, -8, - 9, - 21, 9, 5, 562, mt.pi]
int_list.reverse ()
print (int_list)

[3.141592653589793, 562, 5, 9, -21, -9, -8, 27, -6, 2]

In [77]:
int_list = [8, 9, - 31, 18, - 5, - 18, 9, - 22, 0, 9]
int_list.reverse()
print(int_list)

[9, 0, -22, 9, -18, -5, 18, -31, 9, 8]

In [1]:
import pandas as pd

datos = [
    {'Sexo': 'H', 'Peso': 43, 'Edad': '15', 'NivelEducativo': 'Lic'},
    {'Sexo': 'M', 'Peso': 35, 'Edad': '21', 'NivelEducativo': 'Bach'},
    {'Sexo': 'H', 'Peso': 96, 'Edad': '19', 'NivelEducativo': 'Bach'},
    {'Sexo': 'M', 'Peso': 56, 'Edad': '17', 'NivelEducativo': 'Bach'},
    {'Sexo': 'H', 'Peso': 25, 'Edad': '25', 'NivelEducativo': 'Dr'},
    {'Sexo': 'M', 'Peso': 48, 'Edad': '35', 'NivelEducativo': 'MSc'},
    
]

df = pd.DataFrame(datos)

print(df)

  Sexo  Peso Edad NivelEducativo
0    H    43   15            Lic
1    M    35   21           Bach
2    H    96   19           Bach
3    M    56   17           Bach
4    H    25   25             Dr
5    M    48   35            MSc

In [3]:
lista_cubo = 0
n = 100
for valor in range (n + 1):
  suma = valor ** 3
  lista_cubo = lista_cubo + suma
print(lista_cubo)

25502500